[mysqld]
# General configuration
innodb_buffer_pool_size = 4G
innodb_log_buffer_size = 256M
innodb_log_file_size = 1G
innodb_write_io_threads = 16
innodb_flush_log_at_trx_commit = 0
sort_buffer_size = 2M

# Master Configuration
server-id = 1
log-bin = mysql-bin
binlog-do-db = genome_bank

# Replica Configuration
# Note: This will be dynamically changed for replication.
# server-id = 2
# relay-log = mysql-relay-bin
# replicate-do-db = genome_rep

# Character set configuration
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Table name case sensitivity (must match production)
lower_case_table_names = 1

# Other configurations
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
max_connections = 10000
max_allowed_packet = 512M

